<app-party-menu></app-party-menu>

<div *ngIf="party">

  <h1>{{party.name}}</h1>

  <ul>

    <li *ngFor="let item of party.items">

      <div class="flex">
        <div class="flex-container">
          <span>{{item.name}}</span>
          <span>{{getRemainingItemCount(item)}}</span>
        </div>
        <button md-mini-fab (click)="decrementCurrentUserItemCount(item)"
                *ngIf="hasRemainingCurrentUserItemCount(item)">
          <md-icon>remove</md-icon>
        </button>
        <button md-mini-fab (click)="incrementCurrentUserItemCount(item)" *ngIf="hasRemainingItemCount(item)">
          <md-icon>add</md-icon>
        </button>
      </div>

      <ul>
        <li *ngFor="let claim of item.claims">
          <a href="mailto:{{claim.user.email}}">{{getNickname(claim)}}</a>
          <span>{{claim.count}}</span>
        </li>
      </ul>

    </li>

  </ul>

</div>
