<app-party-menu></app-party-menu>

<div *ngIf="party">

  <h1>{{party.name}}</h1>

  <ul>

    <li *ngFor="let item of party.items">

      <div class="flex">
        <div class="flex-container">
          <span>{{item.name}}</span>
          <span>{{getRemainingItemCount(item)}}</span>
        </div>
        <button md-mini-fab (click)="decrementCurrentUserItemCount(item)"
                *ngIf="hasRemainingCurrentUserItemCount(item)">
          <md-icon>remove</md-icon>
        </button>
        <button md-mini-fab (click)="incrementCurrentUserItemCount(item)" *ngIf="hasRemainingItemCount(item)">
          <md-icon>add</md-icon>
        </button>
      </div>

      <md-chip-list>
        <md-chip *ngFor="let claim of item.claims" [color]="isClaimOfCurrentUser(claim) ? 'primary' : 'secondary'" selected="true"><a href="mailto:{{getEmail(claim)}}">{{getNickname(claim)}}</a> ({{claim.count}})</md-chip>
      </md-chip-list>

    </li>

  </ul>

</div>
