<app-parties-menu></app-parties-menu>

<h1>{{title}}</h1>

<md-list>

  <md-list-item class="flex">
    <div class="flex-container party-name-container">
      <md-input-container class="party-name-input">
        <input mdInput #partyName name="partyName" type="text" placeholder="New Partyname ...">
      </md-input-container>
    </div>
    <button md-mini-fab (click)="addParty(partyName.value); partyName.value=''">
      <md-icon>add</md-icon>
    </button>
  </md-list-item>

  <md-list-item *ngFor="let party of parties" [routerLink]="['/party-gifts', party.id]" class="flex">
    <div class="flex-container">{{party.name}} <a href="mailto:{{party.user.email}}">{{getNickname(party)}}</a>
    </div>
    <button md-mini-fab *ngIf="isPartyOfCurrentUser(party)" [routerLink]="['/party', party.id]">
      <md-icon>edit</md-icon>
    </button>
  </md-list-item>

</md-list>
