<md-toolbar>
  <span><md-icon [routerLink]="['/parties']">arrow_back</md-icon></span>
  <span class="fill-remaining-space"></span>
  <span><md-icon>star_border</md-icon></span>
</md-toolbar>

<div *ngIf="party">

  <h1>{{party.name}}</h1>

  <md-input-container class="full-width">
    <input mdInput [(ngModel)]="party.name" name="name" type="text" placeholder="Party Name">
  </md-input-container>

  <md-input-container class="full-width">
    <input mdInput [(ngModel)]="party.location.address" name="address" type="text" placeholder="Party Address">
  </md-input-container>

  <md-input-container class="full-width">
    <input mdInput [(ngModel)]="party.location.zip" name="zip" type="text" placeholder="Zip">
  </md-input-container>

  <md-input-container class="full-width">
    <input mdInput [(ngModel)]="party.location.city" name="city" type="text" placeholder="City">
  </md-input-container>

  <md-input-container class="full-width">
    <input mdInput [(ngModel)]="party.date" name="date" type="datetime-local" placeholder="Party Date & Time">
  </md-input-container>

  <h2>Gifts</h2>

  <md-list>

    <md-list-item class="flex">
      <div class="flex-container">
        <md-input-container>
          <input mdInput #newItemName name="newItemName" type="text" placeholder="Item">
        </md-input-container>
        <md-input-container>
          <input mdInput #newItemCount name="newItemCount" type="number" placeholder="Count">
        </md-input-container>
      </div>
      <button md-mini-fab (click)="addNewItem(newItemName.value, newItemCount.value); newItemName.value=''; newItemCount.value=''"><md-icon>add</md-icon>
      </button>
    </md-list-item>

    <md-list-item *ngFor="let item of party.items" class="flex">
      <div class="flex-container">
        <md-input-container>
          <input mdInput [(ngModel)]="item.name" type="text" placeholder="Name">
        </md-input-container>
        <md-input-container>
          <input mdInput [(ngModel)]="item.count" type="number" placeholder="Count">
        </md-input-container>
      </div>
      <button md-mini-fab (click)="removeItem(item);"><md-icon>remove</md-icon></button>
    </md-list-item>

  </md-list>

  <h2>Persons</h2>

  <md-list>

    <md-list-item class="flex">
      <div class="flex-container">
        <md-input-container>
          <input mdInput #newPersonNickname name="newPersonNickname" type="text" placeholder="Nickname">
        </md-input-container>
        <md-input-container>
          <input mdInput #newPersonEmail name="newPersonEmail" type="email" placeholder="Email">
        </md-input-container>
      </div>
      <button md-mini-fab (click)="addNewPerson(newPersonNickname.value, newPersonEmail.value); newPersonNickname.value=''; newPersonEmail.value=''">
        <md-icon>add</md-icon>
      </button>
    </md-list-item>

    <md-list-item *ngFor="let person of party.persons" class="flex">
      <div class="flex-container">
        <md-input-container>
          <input mdInput [(ngModel)]="person.nickname" type="text" placeholder="Nickname">
        </md-input-container>
        <md-input-container>
          <input mdInput [(ngModel)]="person.email" type="email" placeholder="Email">
        </md-input-container>
      </div>
      <button md-mini-fab (click)="removePerson(person);"><md-icon>remove</md-icon></button>
    </md-list-item>

  </md-list>

  <div class="controls">
    <button md-raised-button color="primary" (click)="saveParty()">Save Changes</button>
    <button md-raised-button color="warn" (click)="cancelParty()">Cancel Party</button>
  </div>

</div>
