@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* globals */

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto,Helvetica Neue,sans-serif;
}

/* generic elements */

.flex {
  display: flex;
}

.flex-container {
  flex-grow: 2;
}

.full-width {
  width: 100%;
}

/* concrete elements */

.controls {
  margin-top: 20px;
  padding-top: 30px;
  border-top: 1px solid black;
}

.party-name-container {
  padding-right: 20px;
}

.party-name-input {
  width: 100%;
}
