@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* globals */

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto,Helvetica Neue,sans-serif;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6,
.padding10 {
  padding: 0px 10px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* generic elements */

.flex {
  display: flex;
}

.flex-container,
.fill-remaining-space {
  flex-grow: 2;
}

.full-width {
  width: 100%;
}

/* concrete elements */

.party-name-container {
  padding-right: 20px;
}

.party-name-input {
  width: 100%;
}

.loading {
  margin: 10px;
}
